- @title = "Login"
#content
  %h2 Sign in
  = form_tag session_path do
    %dl
      %dt
        %label{for: "username"} Username
      %dd= text_field_tag "username"
      %dt
        %label{for: "password"} Password
      %dd= password_field_tag "password"
    .submit= submit_tag "Sign In"
  .section
    = link_to "Create new account", "/signup"
  %div{style: "clear: both"}
