<div id="config" style="padding:0 10px;width:95%">
<h2 style="margin-top:0">Fastladder Settings</h2>
<%= form_for :save, url: url_for(controller: "api/config", action: "save"), html: {id: "config_form", style: "clear: both; width: 100%; display: block;", onreset: "Form.fill(this, app.config); return false;"} do |f| %>
<div class="tabs">
	<div id="tab_config_basic" class="tab tab-active" rel="tab:config_form&gt;config_basic">General</div>
	<div id="tab_config_view" class="tab" rel="tab:config_form&gt;config_view">Display</div>
	<div id="tab_config_pin" class="tab" rel="tab:config_form&gt;config_pin">Pin</div>
	<div id="tab_config_share" class="tab" rel="tab:config_form&gt;config_share">Share</div>
	<div id="tab_config_detail" class="tab" rel="tab:config_form&gt;config_detail">Detail</div>
</div>
<div id="config_container" style="clear:both" style="text-align: center;">
	<div id="config_basic" style="display:none">
		<table>
		<tr>
			<th><%= link_to "Subscribe to feed", subscribe_path(url: "") %></th>
			<td>Click 'Add' icon and enter the feed URL. </td>
		</tr>
		<tr>
			<th><%= link_to "Manage subscription list", "#manage", onclick: "init_manage(); return false;" %>
			<td>Click 'Edit' icon to manage 'My Feeds'.</td>
		</tr>
		<tr class="last">
			<th><%= link_to "Browser buttons", utility_bookmarklet_path %></th>
			<td>Add new feeds to your subscription list with an easy-access browser button.</td>
		</tr>
		</table>
	</div>

	<div id="config_view" style="display:none">
		<table>
		<tr>
			<th><%= f.label :current_font, "Font size" %></th>
			<td><%= f.text_field :current_font, size: 4, name: "current_font" %> px</td>
		</tr>
		<tr>
			<th>Sort order</th>
			<td>
				<%= f.label :reverse_mode_0 do %><%= f.radio_button :reverse_mode, 0, name: "reverse_mode" %> New articles first<% end %><br>
				<%= f.label :reverse_mode_1 do %><%= f.radio_button :reverse_mode, 1, name: "reverse_mode" %> Old articles first<% end %>
			</td>
		</tr>
		<tr>
			<th>Number of 'My Feeds' to show</th>
			<td>
				<p>For shorter loading time, set the limit smaller. </p>
				<%= f.label :use_limit_subs_1 do %><%= f.radio_button :use_limit_subs, 1, name: "use_limit_subs" %> Set limit to <%= f.text_field :limit_subs, value: 100, size: 4, name: "limit_subs" %> feeds<% end %><br>
				<%= f.label :use_limit_subs_0 do %><%= f.radio_button :use_limit_subs, 0, name: "use_limit_subs" %> Display all<% end %>
			</td>
		</tr>
		<tr>
			<th>Highlight</th>
			<td>
				Highlight selected article when using keyboard shortcuts.<br>
				<%= f.label :use_scroll_hilight_1 do %><%= f.radio_button :use_scroll_hilight, 1, name: "use_scroll_hilight" %> Enable<% end %><br>
				<%= f.label :use_scroll_hilight_0 do %><%= f.radio_button :use_scroll_hilight, 0, name: "use_scroll_hilight" %> Diable<% end %><br>
			</td>
		</tr>
		<tr>
			<th><%= f.label :max_view, "Number of new articles per page" %></th>
			<td>
				Number of articles to open when you first click on a feed.<br>
				<%= f.text_field :max_view, value: 200, name: "max_view", size: 4 %> articles (max: 200)
			</td>
		</tr>
		<tr>
			<th><%= f.label :items_per_page, "Number of old articles per page" %></th>
			<td>
				Number of articles to open when you click "older".<br>
				<%= f.text_field :items_per_page, value: 20, name: "items_per_page", size: 4 %> articles (max: 200)</td>
		</tr>
		</table>
	</div>

	<div id="config_detail" style="display:none">
		<table width="100%">
		<tr>
			<th>When to mark a feed as read</th>
			<td>
				<ul>
					<li><%= f.label :touch_when_onload do %><%= f.radio_button :touch_when, "onload", name: "touch_when" %> Immediately after loading.<% end %></li>
					<li><%= f.label :touch_when_onclose do %><%= f.radio_button :touch_when, "onclose", name: "touch_when" %> When moving to the next feed.<% end %></li>
					<li><%= f.label :touch_when_manual do %><%= f.radio_button :touch_when, "manual", name: "touch_when" %> When marked as read.<% end %></li>
				</ul>
			 </td>
			</tr>
		<tr>
			<th>Prefetching</th>
			<td>
				Set the number of feeds to prefetch<br>
				<%= f.label :use_prefetch_hack_1 do %><%= f.radio_button :use_prefetch_hack, 1, name: "use_prefetch_hack" %> <%= f.text_field :prefetch_num, name: "prefetch_num", size: 2 %> items (max: 5)<% end %><br>
				<%= f.label :use_prefetch_hack_0 do %><%= f.radio_button :use_prefetch_hack, 0, name: "use_prefetch_hack" %> Use default setting<% end %>
			</td>
		</tr>
		<tr>
			<th>Scroll speed</th>
			<td>
				Scroll speed when using keyboard shortcuts<br>
				<%= f.label :use_wait_1 do %><%= f.radio_button :use_wait, 1, name: "use_wait" %> Enable: <%= f.text_field :wait, value: 200, name: "wait", size: 6 %> milliseconds<% end %><br>
				<%= f.label :use_wait_0 do %><%= f.radio_button :use_wait, 0, name: "use_wait" %> Disable<% end %>
			</td>
		</tr>
		<tr>
			<th>Scroll control</th>
			<td>
				Scroll unit (via space key)<br>
				<%= f.label :scroll_type_page do %><%= f.radio_button :scroll_type, "page", name: "scroll_type" %> One screen<% end %><br>
				<%= f.label :scroll_type_half do %><%= f.radio_button :scroll_type, "half", name: "scroll_type" %> Half screen<% end %><br>
				<%= f.label :scroll_type_px do %><%= f.radio_button :scroll_type, "px", name: "scroll_type" %> Precisely <%= f.text_field :scroll_px, value: 100, name: "scroll_px", size: 6 %> px<% end %>
			</td>
		</tr>
		<tr>
			<th>Automatic update of 'My Feeds'</th>
			<td>
				<%= f.label :use_autoreload_1 do %><%= f.radio_button :use_autoreload, 1, name: "use_autoreload" %> Enable: Reload every <%= f.text_field :autoreload, name: "autoreload", size: 6 %> seconds. (min: 60 secs)<% end %><br>
				<%= f.label :use_autoreload_0 do %><%= f.radio_button :use_autoreload, 0, name: "use_autoreload" %> Disable<% end %>
			</td>
		</tr>
		</table>
	</div>

	<div id="config_pin" style="display:none">
		<table width="100%">
		<tr>
			<th>Pin backup</th>
			<td>
				Let Fastladder remember your pin state (up to 100 changes).<br>
				<%= f.label :use_pinsaver_1 do %><%= f.radio_button :use_pinsaver, 1, name: "use_pinsaver" %> Enable<% end %><br>
				<%= f.label :use_pinsaver_0 do %><%= f.radio_button :use_pinsaver, 0, name: "use_pinsaver" %> Disable<% end %>
			</td>
		</tr>
		<tr>
			<th><%= f.label :max_pin, "Open limitation" %></th>
			<td>Open <%= f.text_field :max_pin, name: "max_pin", size: 4 %> tabs at a time.</td>
		</tr>
		<tr>
			<th>Pop-up window </th>
			<td>
				To open articles with 'Pin' function, please set your browser to allow pop-ups on "<%= reader_url %>".<br>
				<%= link_to "Click on this link to test if pop-ups are enabled(3 new windows will open on success).", "#", onclick: "(3).times(function(){window.open()}); return false;" %>
			</td>
		</tr>
		</table>
	</div>

	<div id="config_share" style="display:none">
		<table width="100%">
		<tr>
			<td colspan="2">
				<p>To share your subscriptions with others, configure <%= link_to "Manage Sharing", share_path %>.</p>
			</td>
		</tr>
		<tr>
			<th>Sharing subscriptions</th>
			<td>
				If you enable sharing, others can read your public subscriptions at "<%= user_url(current_member.username) %>"<% if current_member.public %> (<%= link_to "Show public subscriptions", user_path(current_member.username) %>)<% end %><br>
				<%= f.label :member_public_1 do %><%= f.radio_button :member_public, 1, name: "member_public", checked: current_member.public %> Enable Sharing<% end %><br>
				<%= f.label :member_public_0 do %><%= f.radio_button :member_public, 0, name: "member_public", checked: !current_member.public %> Disable Sharing<% end %>
			</td>
		</tr>
		<tr>
			<th>Default</th>
			<td>
				Default setting for new subscriptions<br>
				<%= f.label :default_public_status_1 do %><%= f.radio_button :default_public_status, 1, name: "default_public_status" %> Public<% end %><br>
				<%= f.label :default_public_status_0 do %><%= f.radio_button :default_public_status, 0, name: "default_public_status" %> Private<% end %>
			</td>
		</tr>
		</table>
	</div>

	<div id="config_submit">
		<table>
		<tr class="submit">
			<td style="text-align: center;">
				<%= f.button "Cancel", type: "reset" %>
				<%= f.submit "Save" %>
			</td>
		</tr>
		</table>
	</div>
</div>
<% end -%>

<h2>Import / Export Subscription List</h2>
<table class="link">
<tr>
	<th nowrap style="padding : 0 10px"><%= link_to "Import", import_path %></th>
	<td>Import OPML subscription list to Fastladder.</td>
</tr>
<tr>
	<th nowrap style="padding : 0 10px"><%= link_to "Export", export_path, download: "export.opml" %></th>
	<td>Create backup of current subscription list in OPML. Follow the link and select 'Save'.</td>
</table>
</div>

