<%= form_for :feed, url: url_for(controller: "api/feed", action: "update"), html: {id: "subs_edit_form"} do |f| %>
<%= f.hidden_field :subscribe_id, name: "subscribe_id" %>
<%= f.hidden_field :api_key, name: "ApiKey", value: session[:session_id] %>
<table>
<tr>
	<th>Folder</th>
	<td><%= f.select :folder_id, [["Leave it uncategorized", "0"], ["Create new folder", "-"]], {}, id: "subs_edit_folder", name: "folder_id", onchange: "folder_change.call(this,event);" %></td>
</tr>
<tr>
	<th>Rating</th>
	<td><%= f.select :rate, %w/☆☆☆☆☆ ★☆☆☆☆ ★★☆☆☆ ★★★☆☆ ★★★★☆ ★★★★★/.zip(0..5), {}, name: "rate" %></td>
</tr>
<tr>
	<th>Share</th>
	<td>
		<%= f.radio_button :subs_edit_public, 1, id: "subs_edit_public_1", checked: @member.public %>
		<%= f.label :subs_edit_public_1, "Public", for: "subs_edit_public_1" %>
		<%= f.radio_button :subs_edit_public, 0, id: "subs_edit_public_0", checked: !@member.public %>
		<%= f.label :subs_edit_public_0, "Private", for: "subs_edit_public_0" %>
	</td>
</tr>
</table>
<div class="buttons">
	<span class="subs_edit_cancel" onclick="subs_edit.hide();">Close</span>
	<%= f.submit "Save" %>
</div>
<% end -%>
