<% if @target_member.public -%>
<% content_for :extract_header do -%>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="<%= user_path(@target_member.username, format: "rss") %>" />
<% end -%>
<% end -%>
<div id="content" class="page_user">
<h2>User Information</h2>
<div id="content-inner">
<div class="user_info">
	<h3><%= @target_member.username %></h3>
	<% if logged_in? and @target_member == current_member %>
	<% if @target_member.public -%>
	<p><%= link_to "Manage Sharing", share_path %></p>
	<% else -%>
	<p>Share-setting is disabled. This page is not accessible to others.<br />You may set publicity of your subscription from "<%= link_to "Manage Sharing", share_path %>"</p>
	<% end -%>
	<% end -%>

	<div class="user_stats">
		<ul>
			<li>Total Subscriptions : <span id="total_subscribe_count"><%= @target_member.total_subscribe_count %></span></li>
			<li>Public Subscriptions : <span id="public_subscribe_count"><%= @target_member.public_subscribe_count %></span></li> 
		</ul>
		<% if @target_member.public -%>
		<ul class="link_rss">
			<li><%= link_to "Read public subscriptions", "#recent_subscribed" %></li>
			<li>
				<%= link_to "import subscription list", import_path(url: user_url(@target_member.username, format: "opml")) %>
				<%= link_to image_tag("/img/icon/opml.gif", alt: "", border: "0"), user_path(@target_member.username, format: "opml") %>
			</li>
		</ul>
		<% end -%>
	</div>

	<% if @target_member.public and @subscriptions.present? -%>
	<div class="recent_subscribed" id="recent_subscribed">
		<h3>Recent Subscriptions</h3>
		<p>
			<%= @target_member.username %>'s recent public subscriptions.
			<%= subscribe_button(user_url(@target_member.username, format: "rss")) %>
		</p>
		<ul class="recent_feeds">
		<% @subscriptions.map {|subs| [subs, subs.feed] }.each_with_index do |(subs, feed), i| %>
			<li class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
				<%= link_to feed.title, feed.link, class: "title", style: "background-image: url('#{favicon_path(feed.id)}');" %>
				<div class="description"><%= feed.description %></div>
				<ul class="info">
					<li class="date"><%= subs.created_on  %></li>
					<li><%= link_to disp_users(feed.subscribers_count), about_path(url: feed.feedlink) %></li>
					<li><%= subscribe_button(feed.feedlink) %></li>
				</ul>
				<div style="clear:left"></div>
			</li>
		<% end -%>
		</ul>
	</div>
	<% end -%>

</div>
</div>
</div><!-- /content -->
<div style="clear:both;"></div>

<script type="text/javascript">
var ApiKey = null;
</script>
<%= javascript_include_tag "subscribe" %>
