= flash[:error]
#content
  %h2 Account
  = render "navi"
  .account_form
    %h4 Set API Auth Key
    - if @member.auth_key
      %p
        Your API Auth Key is:
        = @member.auth_key
    %p
      = form_for :account do |f|
        = f.submit 'Set or Change Auth Key'
