<%= flash[:error] %>
<div id="content">
	<h2>Account</h2>
	<%= render "navi" %>
	<div class="account_form">
	<h4>Change password</h4>
	<p>Your password must be at least 5 charcters in length, and shoud not easily be guessed by other people.</p>
	<%= form_for :account do |f| %>
		<dl>
			<dt><%= f.label :password, "Current Password"  %></dt>
			<dd><%= f.password_field :password %><dd>
			<dt><%= f.label :new_password, "New Password" %></dt>
			<dd><%= f.password_field :new_password %><dd>
			<dt><%= f.label :new_password_confirmation, "Verify new Password" %></dt>
			<dd><%=f. password_field :new_password_confirmation %><dd>
		</dl>
		<%= f.submit "OK", class: "submit_button" %>
	<% end -%>
	</div>
	<div class="clear"></div>
</div>
