<% avg_rate = feed.avg_rate -%>
<h2>Feed Infomation</h2>
<div class="feedinfo">
	<div class="feed_info">
	<div class="channel">
		<h3 style="background-image:url('<%= feed.favicon.image.blank? ? "/img/icon/default.png" : favicon_path(feed.id) %>')">
			<%= link_to feed.title, feed.link, id: "feed-title" %>
		</h3>
		<div class="description"><%= feed.description %></div>
	</div>
	<ul>
		<li class="feedlink">
			<%= link_to feed.feedlink, feed.feedlink %>
			<span class="subscribe_button">
			<% if current_member.blank? -%>
			<%= link_to "subscribe this feed", subscribe_path(url: feed.feedlink), class: "subscribe_link" %>
			<% elsif current_member.subscribed(feed) -%>
			<span class="subscribed">[subscribed]</span>
			<button class="subs_edit" rel="edit:<%= feed.id %>" onkeydown="subs_edit.call(this,event)" onmousedown="subs_edit.call(this,event)" onclick="return false">edit</button>
			<% end %>
			</span>
		</li>
		<li class="subscribers_count"><%= users(feed.subscribers_count) %></li>
		<li class="avg_rate">rate average <%= rate_image(avg_rate) %> <span id="avg-rate"><%= avg_rate %></span></li>
	</ul>
	</div>
</div>
