<div id="content" class="page_about">
<div id="content-inner">

<% if @is_feedlink and @feed.present? -%>
<%= render "feed", feed: @feed %>
<% if (subscriptions = @feed.subscriptions).length > 0 -%>
<div class="subscribers">
	<h3>Subscribers with Public Profiles</h3>
	<ul class="subscribers_list">
		<% subscriptions.map(&:member).each_with_index do |subscriber, i| %>
		<li class="<%= i % 2 == 0 ? 'even' : 'odd' %>">
		<dl>
			<dt>
				<%= link_to subscriber.username, user_path(subscriber.username) %>
			</dt>
			<dd>
				<span class="subscribe_date">
					date: <%= subscriber.created_on.strftime('%Y/%m/%d') %> |
					Total Subscriptions <strong><%= subscriber.total_subscribe_count %></strong> |
					Public Subscriptions <strong><%= subscriber.public_subscribe_count %></strong>
				</span>
			</dd>
		</dl>
		<div style="clear:left;height:0px;font-size:1px"></div>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<% elsif @feeds.present? -%>
<h2><% @feeds.length > 1 ? "select feed" : "About this feed" %></h2>
<div class="feedinfo">
	<ul class="feedlist">
		<% @feeds.uniq {|feed| feed.feedlink }.each do |feed, i| -%>
		<li class="list<% if i == 0 -%> list-first<% end %>">
			<%= link_to feed.title, about_path(url: feed.feedlink) %>
			<span class="subscriber_count"> (<%= disp_users(feed.subscribers_count) %>)</span>
			<br>
			<%= link_to feed.feedlink, about_path(url: feed.feedlink), class: "feedlink" %>
		</li>
		<% end -%>
	</ul>
</div>
<% end -%>

</div><!-- /content-inner -->
<div style="clear:both;"></div>
</div><!-- /content -->
<%= javascript_include_tag "subscribe" %>
