- @title = "Create new account"
#content
  %h2 Create new account
  = flash[:error]
  = form_for :member, url: members_path do |f|
    %dl
      %dt
        %label{for: "member_username"} Username
      %dd= f.text_field :username
      %dt
        %label{for: "member_password"} Password
      %dd= f.password_field :password
      %dt
        %label{for: "member_password_confirmation"} Confirm Password
      %dd= f.password_field :password_confirmation
    .submit= submit_tag "Sign Up"
  .section= link_to "Back to Sign In", "/login"
